<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<clear/>
		<!-- TestMode true will initialize input form to all beads for each round -->
		<add key="TestMode" value="true"/>
		<!-- set to value of 0 to show element startup -->
		<!-- set to value of 11 to keep hidden -->
		<add key="ShowSet2AfterRound" value="3"/>
		<add key="ShowSet3AfterRound" value="6"/>
		<add key="ShowSet4AfterRound" value="9"/>
		<add key="ShowSet5AfterRound" value="10"/>
		<add key="ShowTeamScoreAfterRound" value="11"/>
		<add key="ShowGroupScoreAfterRound" value="9"/>
		<!-- woodbadge 2016 sylabus has red axe and green beads but trapper trails woodbadge trailer has green axe and yellow beads-->
		<add key="AxeColor" value="Green"/>
		<add key="BeadColor" value="Yellow"/>
		<!-- Recommended minimum value for row heights is 28-->
		<add key="HeadingRowHeight" value="50"/>
		<add key="RowHeight" value="28"/>
		<add key="TotalRowHeight" value="50"/>
	</appSettings>
</configuration>
